/*

+----------------------------------------------------------------------------------+
| Title                             > []                             [140] [Share] |
+----------------------------------------------------------------------------------+
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              +--------------------------------------------------+                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
+----------------------------------------------------------------------------------+

*/

.project {
    --size-divider: 5px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: var(--size-divider);
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "header header header"
        "browser workspace assistant"
        "browser sound assistant";
    grid-template-columns: 2fr 12fr 4fr;
    grid-template-rows: 32px 1fr 250px;
    gap: var(--size-divider);

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .project-name, .project-settings {
            width: 20%;
        }

        h1 {
            font-size: var(--font-size-base);
            font-weight: 400;
            margin: 0 0 0 5px;
        }
    
        .transport-controls {
            padding-top: var(--size-divider);
        }

        .project-settings {
            display: flex;
            align-items: center;
            gap: var(--size-divider);
        }

        button {
            border-radius: 0;
            height: 28px;
            padding: 0 10px
        }
    }

    .workspace, .sound, .browser, .assistant {
        background-color: var(--color-background-secondary);
        box-sizing: border-box;
        padding: var(--size-divider);
    }
   
    header {
        grid-area: header;
    }

    .workspace {
        grid-area: workspace;
    }

    .sound {
        grid-area: sound;
    }

    .browser {
        grid-area: browser;
    }

    .assistant {
        grid-area: assistant;
    }
}